/* styles.css */
body {
    font-family: 'Noto Sans KR', ;
    background-color: #39ff14;
    color: black;
    margin: 10px;
    padding: 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    background: #39ff14;
    padding: 20px;
    border-radius: 10px;
}
.book-info {
    text-align: center;
    margin-bottom: 80px;
}
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.review, .ai-analysis {
    width: 30%;
}
.ai-image-wrapper {
    width: 40%;
    text-align: center;
}
.ai-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
   }
h1 {
    font-size: 50px; /* 제목 크기 조절 */
    color: black;
    margin-bottom: 20px; /* 제목 아래 여백 추가 */
}
h2 {
    font-size: 30px; /* 제목 크기 조절 */
    color: black;
    margin-bottom: 20px; /* 제목 아래 여백 추가 */
}

.book-list {
    list-style: none;
    padding: 0;
}
.book-list li {
    margin: 50px 0;
    padding: 0px;
    background: ;
    color: white;
    border-radius: 0px;
}
.book-list a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
}
.review {
    font-style: italic;
    color: black;
}
.ai-analysis {
    font-weight: bold;
    color: black;
}
.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0066cc;
}
